.photographers-page {
  max-width: 1600px;
  margin: 0 auto;
}
header {
  max-width: 1600px;
  margin: 0 auto;
}
.logo {
  margin-left: 10em;
  height: 5em;
}
.card {
  display: flex;
  justify-content: space-between;
  background-color: #fafafa;
  margin: 4em 10em;
  padding: 6em 5em;
}
.photographers-information {
  margin-right: 5em;
}
article h1 {
  font-size: 4em;
  color: #d3573c;
  margin: 0;
}
.location {
  font-size: 1.5em;
  color: #901c1c;
}
.work {
  font-size: 1.1em;
}
.user-card {
  display: flex;
}
.tags-card {
  display: flex;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}
.contact-me {
  background-color: #901c1c;
  color: #fff;
  border: none;
  padding: 0.9em;
  align-self: start;
  font-size: 20px;
  cursor: pointer;
}
.photos {
  margin: 6em 10em 10em 10em;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  cursor: pointer;
}
.photo-card {
  margin-bottom: 1.8em;
}
.photo {
  height: 300px;
  width: 350px;
  object-fit: cover;
}
.photo-data {
  display: flex;
  justify-content: space-between;
  font-size: 1.5em;
  color: #901c1c;
  max-width: 350px;
}
.likes {
  display: flex;
  align-items: center;
}
.likes i {
  margin-left: 0.5em;
}
.likes-price {
  position: fixed;
  bottom: 0;
  right: 1em;
  display: flex;
  justify-content: space-between;
  font-size: 1.5em;
  background-color: #db8876;
  padding: 0.3em 3em;
}
.totalLikes {
  margin-right: 4em;
}
.totalLikes i {
  margin-left: 0.5em;
}
.modal {
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dialog {
  display: flex;
  justify-content: center;
  background-color: #db8876;
  align-items: center;
}
form {
  width: 30em;
  height: 50em;
  padding: 0em 2em;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
form header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1em;
}
form header h1 {
  color: #000;
  font-size: 3em;
  margin: 0em;
}
.input {
  width: 100%;
  height: 3em;
}
textarea {
  height: 8em;
  width: 100%;
  margin-top: 0.3em;
}
.inputData {
  margin-bottom: 2em;
}
label {
  font-size: 1.6em;
}
.btn-submit {
  border: none;
  color: #fff;
  background-color: #901c1c;
  padding: 1em 2em;
  align-self: start;
}
i.fas.fa-times {
  font-size: 2.5em;
  color: #fff;
  cursor: pointer;
}
.displaynone {
  display: none;
}

.lightBox {
  background-color: #fff;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1;
}
.lightBox img {
  height: 90%;
  width: 80%;
  object-fit: contain;
}
.box {
  display: none;
}
.fa-angle-left,
.fa-angle-right {
  font-size: 4em;
  color: #911c1c;
  cursor: pointer;
}
.fa-angle-left {
  margin-right: 0.5em;
}
.fa-angle-right {
  margin-left: 0.5em;
}

i.fas.fa-times.closeBtn.closeLightBox {
  color: #911c1c;
  align-self: flex-start;
  margin-top: 2%;
  cursor: pointer;
}
.lightBox video {
  height: 100%;
  width: 70%;
}
.boxPhoto {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
  /* height: 90%; */
  width: 100%;
}
.lightBox p {
  /* margin-top: -1em; */
  font-size: 1.5em;
  color: #901c1c;
  max-width: 350px;
}

/* Total Likes */
.likesPrice {
  position: fixed;
  bottom: 0em;
  right: 1em;
  display: flex;
  align-items: center;
  font-size: 1.4em;
  justify-content: center;
  background-color: #db8876;
  padding: 0 2em;
  border-radius: 0.4em 0.4em 0 0;
}
.totalLikes {
  display: flex;
  align-items: center;
  margin-right: 3em;
}

/* DropDown Menue */
.dropDown {
  display: flex;
  margin-left: 10em;
  margin-top: 5em;
}

.dropDown label {
  margin-top: 1.4em;
}
#dropDown-menu {
  list-style: none;
  background: #901c1c;
  padding: 1.5em 2em 1.5em 1em;
  color: #fff;
  border-radius: 0.4em;
  width: 9%;
  position: absolute;
  margin-left: 8em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#dropDown-menu li {
  font-size: 1.5em;
  cursor: pointer;
  width: 100%;
}
#dropDown-menu li:nth-child(2) {
  margin: 1em 0;
  border-top: solid 0.1em #fff;
  border-bottom: solid 0.1em #fff;
  padding: 1em 0;
}
.hiden {
  display: none;
}
.fa-chevron-up,
.fa-chevron-down {
  float: right;
}
