html {
  font-size: 100%; /* 16px par défaut */
  font-family: "DM Sans", sans-serif;
}

body {
  font-size: 0.75em; /* 12px */
  margin-top: 2em;
}

h1 {
  font-size: 2em; /* 24px */
}
a {
  text-decoration: none;
}
/* for screen reader only */
.sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/* Header */

.displaynone {
  display: none;
}
