html {
  font-size: 100%; /* 16px par défaut */
  font-family: "DM Sans", sans-serif;
}

body {
  font-size: 0.75em; /* 12px */
  /* margin-left: 3em;
  margin-right: 3em; */
  margin-top: 2em;
}

h1 {
  font-size: 2em; /* 24px */
}
a {
  text-decoration: none;
}
/* for screen reader only */
.sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/* Header */
#header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.logo {
  height: 5em;
}
/* nav */
nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
.tags,
.nav-list {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
  flex-wrap: wrap;
}
.tag,
.nav-list li {
  list-style-type: none;
  border: solid 0.5px #c4c4c4;
  padding: 0.1em 0.5em;
  border-radius: 20px;
  color: #901c1c;
  font-size: 1.3em;
}
.nav-list li:hover {
  background-color: #901c1c;
  color: #fff;
}
.nav-list a:not(:first-child) {
  margin-left: 0.5em;
}
/* main Nos Photograph */
header h1 {
  color: #901c1c;
}
/* photographers id */

.photographers-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 10em;
}

.photographers-id {
  text-align: center;
  margin-top: 6rem;
  flex: 0 0 33.333333%;
}
.photographers-photo {
  width: 15.5em;
  height: 15.5em;
  border-radius: 50%;
  object-fit: cover;
}
.photographers-name {
  color: #d3563c;
  font-size: 2.25em;
  margin-bottom: 0;
}
.photographers-location {
  color: #901c1c;
  margin-top: 0.6em;
  margin-bottom: 0;
}
.photographers-work {
  margin: 0.6em 0;
}
.photographers-price {
  color: #757575;
}
.tag:not(:first-child) {
  margin-left: 0.5em;
}

@media screen and (max-width: 1170px) {
  .nav {
    position: absolute;
    top: 8em;
  }
}
@media screen and (max-width: 455px) {
  .logo {
    height: 3.5em;
  }
  header h1 {
    font-size: 0.9em;
  }
}
@media screen and (max-width: 387px) {
  .photographers-list {
    justify-content: center;
    margin-top: 4em;
  }
  .photographers-id:not(:first-child) {
    margin-top: 4em;
  }
}
