/* DropDown Menue */
.dropDown {
  display: flex;
  margin-left: 10em;
  margin-top: 5em;
}

.dropDown label {
  margin-top: 1.4em;
}
#dropDown-menu {
  list-style: none;
  background: #901c1c;
  padding: 1.5em 2em 1.5em 1em;
  color: #fff;
  border-radius: 0.4em;
  width: 9%;
  position: absolute;
  margin-left: 8em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* #dropDown-menu li {
  font-size: 1.5em;
  cursor: pointer;
  width: 100%;
  z-index: 1;
} */
#dropDown-menu a {
  font-size: 1.5em;
  cursor: pointer;
  width: 100%;
  z-index: 1;
  color: #fff;
}
#dropDown-menu a:nth-child(2) {
  margin: 1em 0;
  border-top: solid 0.1em #fff;
  border-bottom: solid 0.1em #fff;
  padding: 1em 0;
}
.hiden {
  display: none;
}
.fa-chevron-up,
.fa-chevron-down {
  float: right;
}
