.card {
  display: flex;
  justify-content: space-between;
  background-color: #fafafa;
  margin: 4em 10em;
  padding: 6em 5em;
}
.photographers-information {
  margin-right: 5em;
}
article h1 {
  font-size: 4em;
  color: #d3573c;
  margin: 0;
}
.location {
  font-size: 1.5em;
  color: #901c1c;
}
.work {
  font-size: 1.1em;
}
.user-card {
  display: flex;
}
.tags-card {
  display: flex;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}
.contact-me {
  background-color: #901c1c;
  color: #fff;
  border: none;
  padding: 0.9em;
  align-self: start;
  font-size: 20px;
  cursor: pointer;
}
.photos {
  margin: 6em 10em 10em 10em;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  cursor: pointer;
}
.photo-card {
  margin-bottom: 1.8em;
}
.photo {
  height: 300px;
  width: 350px;
  border-radius: 0.4em;
  object-fit: cover;
}
.photo-data {
  display: flex;
  justify-content: space-between;
  font-size: 1.5em;
  color: #901c1c;
  max-width: 350px;
}
@media screen and (max-width: 1214px) {
  .contact-me {
    position: fixed;
    bottom: 1em;
    right: 39%;
    padding: 0.5em;
    font-size: 1.3em;
  }
}
@media screen and (max-width: 880px) {
  .contact-me {
    position: fixed;
    bottom: 1em;
    right: 39%;
    padding: 0.5em;
    font-size: 1.3em;
  }
  section.dropDown {
    display: none;
  }
  aside.likesPrice {
    display: none;
  }
  .card {
    margin: 0;
    background-color: white;
  }
  .photos {
    justify-content: center;
  }
}
@media screen and (max-width: 455px) {
  .card {
    padding: 0;
    margin: 0;
    background-color: white;
  }
  .contact-me {
    position: fixed;
    bottom: 1em;
    right: 36%;
    padding: 0.5em;
    font-size: 1.3em;
  }
  aside.likesPrice {
    display: none;
  }
  .photos {
    margin: 0;
  }
  section.dropDown {
    display: none;
  }
  ul.tags-card {
    position: absolute;
    top: 26em;
    font-size: 0.7em;
  }
  .tag,
  .nav-list li {
    font-size: 1.2em;
  }
  article.photographers-information {
    margin-bottom: 7.5em;
    margin-left: 0.5em;
  }
  .photographers-photo {
    width: 10.5em;
    height: 10.5em;
    margin-right: 0.5em;
  }
  article h1 {
    font-size: 1.5em;
  }
  header {
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
  }
  .logo {
    margin: 0;
    height: 4em;
  }
  .photo {
    width: 335px;
    height: 190px;
  }
  .photos {
    justify-content: center;
  }
  form#formModal {
    width: 25em;
  }
  .lightBox img {
    width: 70% !important;
  }
  .fa-angle-left,
  .fa-angle-right {
    font-size: 2.5em !important;
  }
  .fa-times:before {
    font-size: 0.7em;
  }
  .work {
    font-size: 0.7em;
  }
}
@media screen and (max-width: 350px) {
  .photo {
    width: 290px;
    height: 160px;
  }
  article.photographers-information {
    margin-bottom: 7.5em;
  }
  ul.tags-card {
    top: 33em;
  }
  form#formModal {
    width: 20em;
  }
  form header h1 {
    font-size: 2em !important;
    z-index: 1000;
  }
}
@media screen and (max-width: 285px) {
  .photo {
    width: 250px;
    height: 160px;
  }
  photo {
    width: 7.5em;
    height: 7.5em;
    margin-right: 0.5em;
  }
  form#formModal {
    width: 18em;
  }
}
.likes {
  display: flex;
  align-items: center;
}
/* .likes i {
  margin-left: 0.5em;
  color: #901c1c;
} */
.likes a {
  margin-left: 0.5em;
  color: #901c1c;
}
.likes-price {
  position: fixed;
  bottom: 0;
  right: 1em;
  display: flex;
  justify-content: space-between;
  font-size: 1.5em;
  background-color: #db8876;
  padding: 0.3em 3em;
}
.totalLikes {
  margin-right: 4em;
}
.totalLikes i {
  margin-left: 0.5em;
}
